.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.pagination-buttons {
  display: flex;
  flex-wrap: wrap;
}

.pagination-buttons button {
  margin-right: 5px;
}

.pagination-buttons button:last-child {
  margin-right: 0;
}
